{{#partial "content"}}
<div class="">
<h3>Department News</h3>
<ul class="">
<li>
<div class="">
<div class="card-text">{{departmentNews.id}}</div>
<div class="card-text">{{departmentNews.userId}}</div>
<div class="card-text">{{departmentNews.type}}</div>
<div class="card-text">{{departmentNews.content}}</div>
<div class="card-text">{{departmentNews.postDate}}</div>
<div class="card-text">{{departmentNews.departmentId}}</div>
</div>
</li>
</ul>
</div>
{{/partial}}

{{>layout.hbs}}