{{#partial "content"}}
<div class="">
<h3>General News</h3>
<ul class="">
<li>
<div class="">
<div class="card-text">{{generalNews.id}}</div>
<div class="card-text">{{generalNews.userId}}</div>
<div class="card-text">{{generalNews.type}}</div>
<div class="card-text">{{generalNews.content}}</div>
<div class="card-text">{{generalNews.postDate}}</div>
</div>
</li>
</ul>
</div>
{{/partial}}

{{>layout.hbs}}